/***ID Elements**/
 body {
  line-height:1;
  margin:0;
  font-family: 'Raleway';
}

nav, header, footer {
  display : block; 
}

/* css grid system */
.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.row {
  width : 100%;
  display : flex;
  flex-wrap : wrap;
  align-items : center;
}

.row::after {
  display : table;
  clear : both;
  content : "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navigation bar */

nav {
  background: none;
  width : 100%;
  overflow: hidden;
  margin : 0;
}

nav ul{
  overflow : hidden;
  margin-right : 0;
  padding : 0;
  text-align : center;
 }

 nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
}

nav ul li a {
  display:block;
  text-decoration: none;
  text-align : center;
  font-weight: 600;
  padding:14px;
  border-radius: 24px;
  text-transform: uppercase;
  color : #F26031;
}

nav ul li a:hover {
  background-color: #12C757;
  color :white;
}

li.dropdownIcon {
  display : none;
}


/* landing page   */


.main-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color : #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

.main-text h1 {
  font-size: 3rem;
}

.main-text p {
  font-size: 1.2rem;
}

div.main-text .btn {
  font-size: 1.4rem;
}


.btn {
  background-color: #F26031;
  color: white;
  padding: 8px 36px;
  margin: 16px;
  border: none;
  cursor: pointer;
  border-radius: 24px;
}

.btn:hover {
  background-color :#12C757;
}

/* homepage */

#landing-image {
  background-image: url("images/img1.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  /* dish images and text */


  div.dish-img img {
    display: block;
    width: 100%;
    height:100%;
  }

  .dish {
    padding : 5% 7% 5%;
  }

  .dish-text{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dish-text h1  {
    font-size: 1.5rem;
    margin-top : .05rem;
    margin-bottom: 0.5rem;
  }
  .dish-text h2 {
    font-size: 1.2rem;
    margin-top : .05rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .dish-text p{
    font-size: 1rem;
    margin-top : .05rem;
    margin-bottom: 0.5rem;
  }

  /* healthy-evening and ice cream section */

  .healthy-evening-text , .ice-cream-text {
    padding : 0% 10% 0%;
    
  }

  .healthy-evening-text h1 , .ice-cream-text h1 {
    font-size: 4rem;
    margin-top :1rem;
    margin-bottom: 1rem;
  }

  .healthy-evening-text p , .ice-cream-text p {
    font-size: 1.5rem;
    margin-top :1rem;
    margin-bottom: 1rem;
  }


  .healthy-evening-text .btn, .ice-cream-text .btn {
    margin:  0;
    margin-top :1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 3rem;
  }

  .healthy-evening-img img , .ice-cream-img img {
      display: block;
      width: 100%;
      height:auto;
      }
  

  /* learn cooking secction */

  .learn-cooking-text {
    text-align: center;
    padding: 0 7% 0;
  }

  .learn-cooking-text h1 {
    font-size: 3rem;
  }

  .learn-cooking-text p {
    font-size: 1.5rem;
  }


/* learn cooking */

.learn-cooking {
  margin-bottom: 5%;
}

  .slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1rem;
    color: #ffffff;
    background-color: #F26031;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #12C757;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active-tab, .dot:hover {
    background-color: #F26031;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .learn-cooking-container {
    padding-left : 10%;
    padding-right : 10%;
  }

  .learn-cooking-container .row {
    text-align: center;
  }

  .learn-cooking-img {
    padding-left: 10%;
    padding-right: 10%;
    margin : 0;
    text-align: center;
  }

  .learn-cooking-img img {
    width :100%;
    height: auto; 
    margin: 0;
    
  }

  .learn-cooking-img h2 {
    font-weight: 500;
    margin: 0;
    margin-top: 1rem;
  }


  /* discount and ice cream section */
    /* discount section */

.discount-text {
  padding : 5% 10% 5%;
  text-align: center;
}

.discount-text h1 {
  font-size: 4rem;
  margin-top :1rem;
  margin-bottom: 1rem;
}

.discount-text p {
  font-size: 1.5rem;
  margin-top :1rem;
  margin-bottom: 1rem;
}

.discount-text .btn {
  margin:  0;
  margin-top :1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 3rem;
}



  /* footer section */

  footer.footerinfo
{
  background-color: #12C757;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding:5% 10% 5%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

footer.footerinfo h1 {
  font-size: 4rem;
  margin-top :1rem;
  margin-bottom: 1rem;
}

footer.footerinfo p {
  font-size: 1.5rem;
  margin-top :1rem;
  margin-bottom: 1rem;
}

input[type = "text"] {
  font-size : 1.3rem;
  width : 500px;
  min-width: 100px;
  padding : 5px;
  border-radius: 7px;
}

footer.footerinfo .btn {
  margin:  0;
  margin-top :1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-radius: 30px;
}

footer.footerinfo .btn:hover {
background-color: #0d8a3d;
}



/* mobile */


@media (max-width: 768px) {


  /* navbar */

  ul li:not(:nth-child(6)) {
    display: none;
  }

  ul li.dropdownIcon {
    display : block;
    padding-right: 30px;
  }

  nav ul {
    position: absolute;
    margin: 0;
    top : 0;
    right : 0;
    padding : 10px;
    float : none;
  }

  nav ul li {
    font-size: 0.8rem;
  }

  ul.responsive li.dropdownIcon {
    position: fixed;
    margin: 0;
    top : 0;
    right : 0;
    padding : 10px;
    padding-right: 40px;
  }

   ul.responsive  {
    position : relative;
  }

    ul.responsive li {
      display : inline-block;
      float : none;
    }

    ul.responsive li a {
      display : block;
      text-align : center;
       
    }

    .col-6 {
      width: 100%;
      max-width: 100%;
      margin : 0;
    }

    /* landing page */

    .main-text h1 {
      font-size: 2rem;
    }
    
    .main-text p {
      font-size: 1rem;
    }

    div.main-text .btn {
      font-size: 1rem;
    }

    /* dish page */

    .dish-text h1  {
      font-size: 1.2rem;
      margin-top : .05rem;
      margin-bottom: 0.5rem;
    }
    .dish-text h2 {
      font-size: 1rem;
      margin-top : .05rem;
      margin-bottom: 0.5rem;
    }
    .dish-text p{
      font-size: 0.9rem;
      margin-top : .05rem;
      margin-bottom: 0.5rem;
    }

    /* healthy evening and ice cream section */

    .healthy-evening-text h1 , .ice-cream-text h1 {
      font-size: 2.3rem;
    }
  
    .healthy-evening-text p , .ice-cream-text p {
      font-size: 1rem;
    }
  
  
    .healthy-evening-text .btn, .ice-cream-text .btn {
      margin:  0;
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    /* learn coking section */
    .learn-cooking-text h1 {
      font-size: 2.3rem;
    }
  
    .learn-cooking-text p {
      font-size: 1rem;
    }

    .learn-cooking-img h2 {
      font-size: 0.8rem;
    }

      /* Next & previous buttons */
  .prev, .next {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  /* discount section */
  .discount-text h1 {
    font-size: 2.3rem;
  }
  
  .discount-text p {
    font-size: 1rem;
  }
  
  .discount-text .btn {
    font-size: 1.2rem;
  }
      


    /* footer */


    footer.footerinfo h1 {
      font-size: 2.3rem;
    }
    
    footer.footerinfo p {
      font-size: 1rem;
    }
  
    footer.footerinfo .btn {
      font-size: 1.2rem;
    }

    input[type = "text"] {
      width : 250px;
    }
    
    }


